.menu-section
    .menu-toggle
        .one
        .two
        .three
    nav
        ul.hidden
            li
                a(href="index.html") Главная
            li
                a(href="about.html") Обо мне
            li
                a(href="blog.html") Блог
            li
                a(href="my-works.html") Мои Работы
